body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1152px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u192_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1132px;
  height:3068px;
}
#u192 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:100px;
  width:1132px;
  height:3068px;
}
#u192_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u193_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei-Bold', '微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
}
#u193 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:412px;
  height:40px;
  font-family:'MicrosoftYaHei-Bold', '微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  color:#1E1E1E;
}
#u193_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-1px;
  width:412px;
  white-space:nowrap;
}
